body{
background:#111;
color:white;
font-family:Arial;
text-align:center;
}

canvas{
background:black;
border:2px solid white;
}

pre{
background:#1e1e1e;
padding:10px;
width:600px;
margin:auto;
text-align:left;
overflow:auto;
}
